#valores {
  padding: 60px 15px;
  max-width: 1200px;
  margin: 0 auto;
}

#valores h1 {
  color: #222;
  margin-bottom: 60px;
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 3px solid #e5b141;
  display: inline-block;
  padding-bottom: 10px;
}

#valores .missao, #valores .valores {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  border-left: 4px solid #e5b141;
  padding-left: 20px;
}

#valores .valores {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  border-left: 4px solid #e5b141;
  padding-left: 20px;
}

#valores .visao {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  border-right: 4px solid #e5b141; /* Mover a linha para o lado direito */
  padding-right: 20px; /* Ajustando o padding para dar espaço */
  text-align: right; /* Alinha o conteúdo à direita */
}

#valores .visao h2 {
  order: 2;
  margin-left: 20px;
}

#valores h2 {
  color: #444;
  margin-bottom: 20px;
  font-size: 2.5em;
  margin-right: 10px;
  text-transform: capitalize;
  position: relative;
}

#valores h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #e5b141;
}

#valores p {
  line-height: 1.8;
  font-size: 1.2em;
  margin-bottom: 20px;
}
