* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Ajustando o espaçamento interno */
  margin-top: 20px; /* Aumentando a distância da borda superior */
  margin-bottom: 20px; /* Aumentando a distância da borda inferior */
}


.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
}

.menu li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

.menu li a:hover {
  color: #797921;
}

.menu li a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  /* padding: 0 20px; Adicionando padding para espaçamento lateral */
  padding-left: 100px; /* Ajustando o espaçamento à esquerda */
  padding: auto;
}


.about-left {
  flex: 1;
  margin-right: 20px;
}

.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.back-content {
  padding: 20px;
  text-align: center;
}

.card h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#valores {
  padding: 50px 0;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

#valores h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 30px;
}

.mural {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.valor {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.3s;
  transition: transform 0.3s ease;
}

.valor:hover {
  transform: translateY(-5px);
}

.valor h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.valor p {
  color: #666;
  font-size: 1.1em;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
#serviços {
  text-align: center;
  padding: 50px 20px;
}

#serviços h1 {
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.serviço {
  width: calc(33.33% - 40px);
  height: 200px;
  perspective: 1000px;
  margin: 20px;
  border-radius: 10px; /* Arredondando as bordas dos serviços */
}

.serviço-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.serviço:hover .serviço-content {
  transform: rotateY(180deg);
}

.serviço .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  transform: rotateY(180deg);
  border-radius: 10px; /* Arredondando as bordas do overlay */
}

.serviço:hover .overlay {
  opacity: 1;
}

.serviço img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Arredondando as bordas das imagens */
}

.overlay h2,
.overlay p {
  margin: 0;
  text-align: center;
  padding: 0 20px;
}

.overlay h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1em;
}

.overlay .title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}


/* estilo dos diferenciais*/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
.container .custom-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: #FFF;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.container .custom-card:hover {
  height: 400px;
}
.container .custom-card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container .custom-card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .custom-card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .custom-card .custom-content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.container .custom-card:hover .custom-content {
  top: 130px;
  height: 250px;
}
.container .custom-card .custom-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
}
.container .custom-card .custom-content p {
  color: #333;
}
.container .custom-card .custom-content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #181818;
  color: #fff;
  font-weight: 500;
}
.container .custom-card .custom-content a:hover {
  opacity: 0.8;
}
@media (max-width: 480px) {
  .container .custom-card {
      width: 230px;
      border-radius: 15px;
  }
  .container .custom-card .img-box {
      width: 185px;
      border-radius: 10px;
  }
  .container .custom-card .custom-content p {
      font-size: 0.8rem;
  }
  .container .custom-card .custom-content a {
      font-size: 0.9rem;
  }
}