.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 70px;
  border-radius: 50%; 
  margin-right: 10px;
}

.menu-nome h1 {
  font-size: 1.5rem;
  margin: 0;
  color: white;
  white-space: nowrap;
}

nav {
  position: absolute; /* Torna a barra fixa e transparente */
  top: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 10; /* Garante que a barra fique acima do slider */
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-left: 400px;
}

.menu li {
  display: inline;
  font-size: 1.2rem;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

.menu li a:hover {
  color: #E7DCC9;
}

.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.menu li a:hover::after {
  width: 100%;
}
