.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 200px;
  border-radius: 50%; 
  margin-right: 10px;
  padding-left: 30px;
}

nav {
  position: absolute; 
  top: -25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 10; 
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-left: 580px;
  transition: max-height 0.3s ease;
}

.menu.open {
  max-height: 500px; /* Ajuste conforme necessário */
}

.menu li {
  display: inline;
  font-size: 1.2rem;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}

.menu li a:hover {
  color: #E7DCC9;
}

.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.menu li a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 10rem;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 10px 20px;
  }

  .menu {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
    max-height: 0;
    overflow: hidden;
  }

  .hamburger {
    display: flex;
  }

  .menu li {
    font-size: 1rem;
  }

  .logo img {
    max-width: 150px;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px;
  }

  .menu li a {
    padding: 8px 15px;
  }

  .logo img {
    max-width: 100px;
  }
}
