.footer {
  background-color: #9b8657;
  color: white;
  padding: 40px 40px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 120px;
  max-width: 1200px;
  padding: 0 80px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  text-align: left;
  padding: 0 10px;
  transition: transform 0.3s ease;
}

.footer-column:hover {
  transform: scale(1.05);
  background-color: rgba(155, 134, 87, 0.2);
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: -10px;
  margin-top: -40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.footer-logo img:hover {
  transform: scale(1.1);
}

.footer-info {
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding-top: 10px;
  text-align: left;
  max-width: 400px;
  gap: 0;
  color: #efefef;
  position: relative;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}

.footer-links a, .social-icons a {
  color: #efefef;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding-top: 10px;
  text-align: left;
  position: relative;
}

.footer-links a:hover, .social-icons a:hover {
  color: #E7DCC9;
  transform: scale(1.1);
}

.footer-links a::after, .social-icons a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E7DCC9;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.footer-links a:hover::after, .social-icons a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}

.social-icons a {
  color: #efefef;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding-top: 10px;
  text-align: left;
  position: relative;
}

.social-icons a:hover {
  color: #E7DCC9;
  transform: scale(1.1);
}

.social-icons a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E7DCC9;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.social-icons a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 14px;
  color: #ccc;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #E7DCC9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
  }

  .footer-column {
    max-width: 100%;
  }

  .footer-logo img {
    margin-top: 0;
  }
}
