.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    z-index: 0;
}

.slide.active {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    filter: brightness(0.7);
}

.slide-content .slide-text {
    filter: brightness(2); 
}

.slide-content {
    position: absolute;
    bottom: 50px; 
    left: 30px;
    color: rgb(255, 255, 255);
    padding: 20px 60px; 
    border-radius: 5px;
    font-size: 1.5rem; 
    line-height: 1.5;
    max-width: 750px; 
    word-wrap: break-word; 
    filter: brightness(2);
}

/* Botões de navegação */
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 2.5rem; /* Menor, mas ainda visível */
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease, transform 0.3s ease;
}

button.prev {
    left: 30px;
}

button.next {
    right: 30px;
}

button.prev:hover,
button.next:hover {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Indicadores */
.indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.indicator.active {
    background-color: white;
    transform: scale(1.2); /* Efeito de aumento no indicador ativo */
}

.indicator:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Cor mais intensa no hover */
    transform: scale(1.3); /* Um aumento sutil no hover */
}
