<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Souza Monteiro Consultoria</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="main.js" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="logo">
      <img src="static/images/logo.png" alt="Logo">
    </div>
    <ul class="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </nav>

  <div id="sobre" class="about">
    <div class="about-left">
      <h1>Sobre Nós</h1>
      <p>Na SM Terceirização & Serviços LTDA, combinamos tradição com inovação para oferecer soluções de terceirização que realmente fazem a diferença.</p>
      <p>Seus objetivos estão embasados na redução de custos operacionais com foco no Core Business do Cliente o que reflete nossa dedicação à qualidade duradoura e ao serviço excepcional.</p>
    </div>
    <div class="about-right">
      <div class="card">
        <div class="front">
          <i class="fas fa-bullseye"></i>
          <h3>Missão</h3>
        </div>
        <div class="back">
          <div class="back-content">
            <h3>Missão</h3>
            <p>Prover soluções de terceirização e serviços que exemplifiquem qualidade, resistência e perseverança, assegurando que nossos clientes possam focar em suas competências essenciais com total confiança na nossa entrega.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div id="valores">
<h1>Nossos Valores</h1>
<div class="mural">
    <div class="valor">
    <div class="emoji"><i class="fas fa-shield-alt emoji"></i></div>
    <h2>Integridade</h2>
    <p>Nosso compromisso com a integridade guia todas as nossas ações. Mantemos altos padrões éticos e agimos com honestidade e transparência em tudo o que fazemos.</p>
    </div>

    <div class="valor">
    <div class="emoji"><i class="fas fa-lightbulb emoji"></i></div>
    <h2>Inovação</h2>
    <p>Estamos constantemente buscando maneiras criativas de melhorar e inovar. Abraçamos novas ideias e desafiamos o status quo para impulsionar o progresso.</p>
    </div>

    <div class="valor">
    <div class="emoji"><i class="fas fa-hands-helping emoji"></i></div>
    <h2>Colaboração</h2>
    <p>Acreditamos no poder da colaboração e do trabalho em equipe. Valorizamos a diversidade de pensamento e trabalhamos juntos para alcançar objetivos comuns.</p>
    </div>
</div>
</div>
  
  <div id="diferenciais" class="dif">
    <h1>Nossos Diferenciais</h1>
    <div class="dif-content">
      <div class="dif-img">
        <div class="gallery">
          <div class="gallery-item">
            <img src="static/images/adm.webp" alt="Imagem 1">
          </div>
          <div class="gallery-item">
            <img src="static/images/contrato.jpg" alt="Imagem 2">
          </div>
          <div class="gallery-item">
            <img src="static/images/limpeza.jpg" alt="Imagem 3">
          </div>
          <!-- Adicione mais imagens conforme necessário -->
        </div>
      </div>
      <div class="dif-text">
        <h2>Compromisso com a Qualidade</h2>
        <p>Nosso compromisso com a qualidade é evidente em tudo o que fazemos. Trabalhamos incansavelmente para garantir que nossos serviços atendam e superem as expectativas dos nossos clientes.</p>
        <h2>Atendimento Personalizado</h2>
        <p>Valorizamos a relação com nossos clientes e nos esforçamos para oferecer um atendimento personalizado e adaptado às suas necessidades específicas. Estamos sempre disponíveis para ajudar e responder a quaisquer perguntas que possam surgir.</p>
        <h2>Equipe Qualificada</h2>
        <p>Nossa equipe é composta por profissionais altamente qualificados e experientes que estão comprometidos em fornecer serviços de alta qualidade. Investimos no desenvolvimento contínuo de nossos funcionários para garantir que eles estejam sempre atualizados com as melhores práticas do setor.</p>
        </div>
    </div>
  </div>
  
  

  <div id="servicos" class="services-section">
    <h1>Nossos Serviços</h1>
    <div class="container">
      <div class="custom-card">
        <div class="img-box"><img src="static/images/contrato.jpg"></div>
        <div class="custom-content">
          <h2>Consultoria em gestão empresarial</h2>
          <p>Oferecemos consultoria especializada em gestão empresarial para melhorar a eficiência e a rentabilidade do seu negócio.</p>
        </div>
      </div>
      <div class="custom-card">
        <div class="img-box"><img src="static/images/limpeza.jpg"></div>
        <div class="custom-content">
          <h2>Limpeza e Conservação</h2>
          <p>Oferecemos serviços de limpeza predial e hospitalar, incluindo limpeza pós-obra para garantir um ambiente limpo e saudável.</p>
        </div>
      </div>
      <div class="custom-card">
        <div class="img-box"><img src="static/images/portaria.jpg"></div>
        <div class="custom-content">
          <h2>Portaria</h2>
          <p>Contamos com profissionais qualificados para oferecer serviços de portaria e controle de acesso, garantindo a segurança do seu estabelecimento.</p>
        </div>
      </div>
      <div class="custom-card">
        <div class="img-box"><img src="static/images/predial.jpg"></div>
        <div class="custom-content">
          <h2>Manutenção Predial</h2>
          <p>Nossos serviços de manutenção predial incluem reparos elétricos e hidráulicos para manter seu edifício em perfeitas condições.</p>
        </div>
      </div>
      <div class="custom-card">
        <div class="img-box"><img src="static/images/transferir.jpg"></div>
        <div class="custom-content">
          <h2>Jardinagem e Paisagismo</h2>
          <p>Oferecemos manutenção de jardins e áreas verdes para garantir um ambiente agradável e bem-cuidado em sua propriedade.</p>
        </div>
      </div>
      <div class="custom-card">
        <div class="img-box"><img src="static/images/adm.webp"></div>
        <div class="custom-content">
          <h2>Serviços Administrativos</h2>
          <p>Contamos com uma equipe de profissionais capacitados para oferecer serviços administrativos, incluindo recepcionistas, digitalização de documentos e apoio logístico.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="contato" class="contact-section">
    <h1>Contato</h1>
    <div class="contact-content">
      <div class="contact-info">
        <div class="info-item">
          <i class="fas fa-map-marker-alt"></i>
          <p>Rua Exemplo, 123 - Cidade - Estado</p>
        </div>
        <div class="info-item">
          <i class="fas fa-phone-alt"></i>
          <p>(00) 1234-5678</p>
        </div>
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <p>contato@empresa.com.br</p>
        </div>
        <div class="info-item">
            <i class="fas fa-envelope"></i>
            <p>rh@empresa.com.br</p>
          </div>
        <div class="info-item">
            <i class="fas fa-address-card"></i>
            <p>1234.123.856.95/11</p>
          </div>
          <div class="info-item">
            <i class=" fab fa-instagram"></i>
            <p>@smterceirizacaoeservicos</p>
          </div>
      </div>
      <div class="contact-form">
        <h2>Envie uma mensagem</h2>
        <form method="post" enctype="multipart/form-data" action="/upload">
          <input type="text" name="nome" placeholder="Nome" required>
          <input type="email" name="email" placeholder="E-mail" required>
          <textarea name="mensagem" placeholder="Mensagem" required></textarea>
          <label for="file-upload-cv" class="upload-btn">Selecionar Currículo</label>
          <input id="file-upload-cv" class="upload-input" type="file" name="file" accept=".pdf, .doc, .docx">
          <!-- <label for="file-upload-proposta" class="upload-btn">Selecionar Proposta</label> -->
          <!-- <input id="file-upload-proposta" class="upload-input" type="file" name="file" accept=".pdf, .doc, .docx"> -->
          <button type="submit" name="submit" value="proposta">Enviar Proposta</button>
          <button type="submit" name="submit" value="curriculo">Enviar Currículo</button>
        </form>

      </div>
    </div>
  </div>
  <div class="bt_bb_port">
    <div class="bt_bb_cell">
        <div class="bt_bb_cell_inner">
            <div data-bb-version="4.7.5" class="bt_bb_row_wrapper">
                <div class="bt_bb_row linha-rodape" data-bt-override-class="{}" data-structure="3-3-3-3">
                    <div data-bb-version="4.8.4" class="bt_bb_column col-xxl-3 col-xl-3 bt_bb_vertical_align_top bt_bb_animation_fade_in animate animated bt_bb_align_left bt_bb_padding_normal" data-width="3" data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                        <div class="bt_bb_column_content">
                            <div class="bt_bb_column_content_inner">
                                <div data-bb-version="4.5.5" class="bt_bb_image bt_bb_shape_square bt_bb_target_self bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <a href="https://soservi.net.br/" target="_self" title="Logo Soservi Colorida">
                                        <img loading="lazy" decoding="async" width="200" height="200" src="static/images/logo.png" class="attachment-full size-full" alt="https://soservi.net.br/wp-content/uploads/2023/03/1.png" data-full_image_src="https://soservi.net.br/wp-content/uploads/2023/03/1.png" title="Logo Soservi Colorida">
                                    </a>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_25" data-bt-override-class="null"></div>
                                <div class="bt_bb_text" style="opacity: 0.8;">
                                    <p>Trazemos anos de experiência e resistência para guiar nossos clientes por novas realidades.</p>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_top_spacing_extra_small bt_bb_bottom_spacing_small" data-bt-override-class="null"></div>
                                <div class="bt_bb_icon bt_bb_style_outline bt_bb_shape_circle bt_bb_target_blank bt_bb_text_empty bt_bb_size_normal bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                                    <a href="https://www.facebook.com/soservioficial/" target="_blank" data-ico-fontawesome="" class="bt_bb_icon_holder"></a>
                                </div>
                                <div class="bt_bb_icon bt_bb_style_outline bt_bb_shape_circle bt_bb_target_blank bt_bb_text_empty bt_bb_size_normal bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                                    <a href="https://www.instagram.com/soservioficial/" target="_blank" data-ico-fontawesome="" class="bt_bb_icon_holder"></a>
                                </div>
                                <div class="bt_bb_icon bt_bb_style_outline bt_bb_shape_circle bt_bb_target_blank bt_bb_text_empty bt_bb_size_normal bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                                    <a href="https://www.linkedin.com/company/soserviterceirizacao/?originalSubdomain=br" target="_blank" data-ico-fontawesome="" class="bt_bb_icon_holder"></a>
                                </div>
                                <div data-bb-version="4.8.4" class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_hidden_sm bt_bb_hidden_md bt_bb_hidden_lg bt_bb_hidden_xl bt_bb_top_spacing_none bt_bb_bottom_spacing_30" data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_30&quot;,&quot;xxl&quot;:&quot;30&quot;}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Coluna 2 -->
                    <div data-bb-version="4.8.4" class="bt_bb_column col-xxl-3 col-xl-3 bt_bb_vertical_align_top bt_bb_animation_fade_in animate animated bt_bb_align_left bt_bb_padding_normal" data-width="3" data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                        <div class="bt_bb_column_content">
                            <div class="bt_bb_column_content_inner">
                                <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extrasmall&quot;,&quot;xxl&quot;:&quot;extrasmall&quot;,&quot;xl&quot;:&quot;extrasmall&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                    <h4 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span>Serviços</span></span></h4>
                                </header>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_25" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_custom_menu hover-menu-footer bt_bb_direction_vertical">
                                    <div class="menu-servicos-container">
                                        <ul id="menu-servicos" class="menu">
                                            <li id="menu-item-4163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4163"><a href="https://soservi.net.br/portaria/">Portaria</a></li>
                                            <li id="menu-item-4162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4162"><a href="https://soservi.net.br/vigilancia/">Vigilância</a></li>
                                            <li id="menu-item-4158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4158"><a href="https://soservi.net.br/higienizacao-hospitalar/">Higienização Hospitalar</a></li>
                                            <li id="menu-item-4159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4159"><a href="https://soservi.net.br/limpeza-e-conservacao/">Limpeza e Conservação</a></li>
                                            <li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a href="https://soservi.net.br/mao-de-obra-especializada/">Mão de Obra Especializada</a></li>
                                            <li id="menu-item-4161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a href="https://soservi.net.br/servicos-eventuais/">Serviços Eventuais</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_medium" data-bt-override-class="null"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Coluna 3 -->
                    <div data-bb-version="4.8.4" class="bt_bb_column col-xxl-3 col-xl-3 bt_bb_vertical_align_top bt_bb_animation_fade_in animate animated bt_bb_align_left bt_bb_padding_normal" data-width="3" data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                        <div class="bt_bb_column_content">
                            <div class="bt_bb_column_content_inner">
                                <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extrasmall&quot;,&quot;xxl&quot;:&quot;extrasmall&quot;,&quot;xl&quot;:&quot;extrasmall&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                    <h4 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span>Links Úteis</span></span></h4>
                                </header>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_25" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_custom_menu hover-menu-footer bt_bb_direction_vertical">
                                    <div class="menu-links-uteis-container">
                                        <ul id="menu-links-uteis" class="menu">
                                            <li id="menu-item-3355" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3355"><a href="https://soservi.jobs.recrut.ai/">Trabalhe Conosco</a></li>
                                            <li id="menu-item-3357" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3357"><a href="http://201.45.80.182/funcionario/">Portal do Colaborador</a></li>
                                            <li id="menu-item-3901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3901"><a href="https://soservi.net.br/canal-de-integridade/">Canal de Integridade</a></li>
                                            <li id="menu-item-4472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-4472"><a rel="privacy-policy" href="https://soservi.net.br/politica-de-privacidade/">Política de Privacidade</a></li>
                                            <li id="menu-item-4473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4473"><a href="https://soservi.net.br/politica-de-cookies/">Política de Cookies</a></li>
                                            <li id="menu-item-4474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4474"><a href="https://soservi.net.br/termos-de-uso/">Termos de Uso</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_medium" data-bt-override-class="null"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Coluna 4 -->
                    <div data-bb-version="4.8.4" class="bt_bb_column col-xxl-3 col-xl-3 bt_bb_vertical_align_top bt_bb_animation_fade_in animate animated bt_bb_align_left bt_bb_padding_normal" data-width="3" data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_left&quot;,&quot;xxl&quot;:&quot;left&quot;,&quot;sm&quot;:&quot;center&quot;,&quot;xs&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                        <div class="bt_bb_column_content">
                            <div class="bt_bb_column_content_inner">
                                <header class="bt_bb_headline bt_bb_dash_none bt_bb_size_extrasmall bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extrasmall&quot;,&quot;xxl&quot;:&quot;extrasmall&quot;,&quot;xl&quot;:&quot;extrasmall&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;,&quot;xl&quot;:&quot;inherit&quot;}}">
                                    <h4 class="bt_bb_headline_tag"><span class="bt_bb_headline_content"><span>Atendimento ao Cliente</span></span></h4>
                                </header>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_25" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_icon bt_bb_style_borderless bt_bb_shape_circle bt_bb_target_self bt_bb_size_small bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <a href="https://soservi.net.br/sac/" target="_self" title="Atendimento ao Cliente (SAC)" data-ico-icon7stroke="" class="bt_bb_icon_holder"><span>Atendimento ao Cliente (SAC)</span></a>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_small" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_icon bt_bb_style_borderless bt_bb_shape_circle bt_bb_target_self bt_bb_size_small bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <a href="https://soservi.net.br/contate-nos/" target="_self" title="Entre em Contato" data-ico-fontawesome5brands="" class="bt_bb_icon_holder"><span>Entre em Contato</span></a>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_small" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_icon telefone-hover bt_bb_style_borderless bt_bb_shape_circle bt_bb_target_self bt_bb_size_small bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <a href="tel:8121228888" target="_self" title="(81) 2122-8888 (Matriz)" data-ico-fontawesome="" class="bt_bb_icon_holder"><span>(81) 2122-8888 (Matriz)</span></a>
                                </div>
                                <div class="bt_bb_separator bt_bb_border_style_none bt_bb_border_color_none bt_bb_bottom_spacing_small" data-bt-override-class="null"></div>
                                <div data-bb-version="4.7.5" class="bt_bb_icon bt_bb_style_borderless bt_bb_shape_circle bt_bb_target_self bt_bb_size_small bt_bb_align_inherit" data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_small&quot;,&quot;xxl&quot;:&quot;small&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <span data-ico-business="" class="bt_bb_icon_holder"><span>Recife - PE</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
